html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Happy Monkey', cursive;
  text-align: center;
  /* background: linear-gradient(#a2d2ff, #EFB0C9); */
  
  color: #36454F;
}

h1, h2, h3, h4, p {
  text-shadow: 0 0 1px black;
}

.container {
  padding: 1em 1em
}

@media screen and (min-width: 700px){
  .container {
    padding: 5em 1em;
  }
}

.background {
  background-image: url("../public/bday1.jpg");
  background-size: contain;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.2;
  
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bday-img {
  border-radius: 50%;
  border: 6px solid #EFB0C9;
}


.bday-age, .bday-date {
  background: #EFB0C9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

.gift-section {
  margin-top: 50px;
}

.gift-img {
  margin: 20px auto;
  max-width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("../public/gift-cover.jpg");
  background-size: cover;
}